<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        {% block stylesheets %}
            <link rel="stylesheet" href="main.css">
        {% endblock stylesheets %}

        {% block javascript_top %}{% endblock javascript_top %}
    </head>

    <body {% block body_attr %}{% endblock body_attr %}>
        {% block content %}{% endblock content %}

        {% block javascript_bottom %}{% endblock javascript_bottom %}
    </body>
</html>
